//background colors
$main-background: rgb(240, 201, 245);
$game-scorebox-background: rgb(163, 140, 194);
$gameBoard-background: darken($main-background, 0%);
$gameBoard-border: darken($main-background, 0%);
$direction-container-background: $main-background;

//button colors
$direction-button-color: rgb(126, 93, 131);
$game-nav-button: $direction-button-color;

//font colors
$main-font-color: white;
$button-font: rgb(255, 255, 255);

$numSquare-background: antiquewhite;
