$main-game-background: rgb(187, 207, 155);
$gameBoard-border: rgb(187, 207, 155);
$gameBoard-background: rgb(187, 207, 155);
$scorebox-background: rgb(189, 209, 156);
$direction-container-background: rgb(187, 207, 155);
$direction-button-color: rgb(146, 161, 121);
$numSquare-background: antiquewhite;
$game-nav-button: rgb(63, 202, 137);
$game-scorebox-background: rgb(39, 85, 47);
