@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.game {
  height: 100vh;
  width: 100%;
  background-color: $main-game-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  nav {
    height: 10vh;
    padding-left: 30px;
    width: 100%;
    padding-top: 10px;

    .nav__button {
      padding: 10px;
      border-radius: 10px;
      font-size: min(2.5vh, 5vw);
      background-color: $game-nav-button;
      color: rgb(0, 0, 0);
      height: 70%;
    }
  }

  .gameBoard {
    height: 40vh;
    width: 40vh;
    background-color: $main-game-background;
    display: none;
    border: 3px solid $gameBoard-border;

    &--active {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .numSquare {
      height: 23%;
      width: 23%;
      border-radius: 5px;
      background-color: $numSquare-background;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.8vh;

      &--4 {
        background-color: darken(antiquewhite, 8%);
      }
      &--8 {
        background-color: darken(antiquewhite, 12%);
      }
      &--16 {
        background-color: darken(antiquewhite, 16%);
      }
      &--32 {
        background-color: darken(antiquewhite, 20%);
      }
      &--64 {
        background-color: darken(antiquewhite, 24%);
      }
      &--128 {
        background-color: darken(antiquewhite, 28%);
      }
      &--256 {
        background-color: darken(antiquewhite, 32%);
      }
      &--512 {
        background-color: darken(antiquewhite, 36%);
      }
      &--1024 {
        background-color: darken(antiquewhite, 40%);
      }
      &--2048 {
        background-color: darken(antiquewhite, 44%);
      }
      &--4096 {
        background-color: darken(antiquewhite, 48%);
      }
      &--8192 {
        background-color: darken(antiquewhite, 52%);
      }
    }
  }

  .lose-screen {
    height: 40vh;
    width: 40vh;
    display: none;

    &--active {
      display: flex;
    }

    img {
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  .scoreBoard {
    height: 10vh;
    width: 80%;
    background-color: $main-game-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .scoreBoard__scoreBox {
      width: 60%;
      height: min(50px, 7vh);
      background-color: $scorebox-background;
      font-size: min(4vh, 6vw);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      color: white;
      background-color: $game-scorebox-background;
    }

    .scoreBoard__restart-button {
      width: 30%;
      padding: 10px;
      background-color: $game-nav-button;
      border-radius: 10px;
      font-size: min(2.5vh, 5vw);
    }
  }
  .controller {
    height: 35vh;
    width: 100%;
    background-color: $main-game-background;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .controller__controller-part {
      height: 33%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &--top {
        margin-bottom: -20px;
      }

      &--bottom {
        margin-top: -20px;
        // margin-bottom: 20px;
      }

      .controller__direction-button {
        height: calc(35vh / 3);
        width: calc(35vh / 3);
        background-color: $direction-button-color;
        border-radius: 50%;
        font-size: 3.5vh;
        color: white;
        margin: 0px 7vw;

        &:hover {
          background-color: lighten($direction-button-color, 10%);
        }
      }
    }
  }
}
