@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .party-music {
    display: none;
  }
}

.game {
  height: 100vh;
  width: 100%;
  background-color: $main-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .nav {
    height: 10vh;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .nav__button {
      padding: 10px;
      border-radius: 10px;
      font-size: min(2.8vh, 5vw);
      background-color: $game-nav-button;
      color: rgb(0, 0, 0);
      height: 70%;
      color: $button-font;

      &--party {
        display: none;
      }

      &:hover {
        background-color: darken($game-nav-button, 10%);
      }
    }

    .nav__instructions {
      font-size: 2.2vh;
      color: black;
    }
  }

  .gameBoard {
    height: 40vh;
    width: 40vh;
    background-color: $gameBoard-background;
    display: none;
    border: 3px solid $gameBoard-border;

    &--active {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .numSquare {
      height: 23%;
      width: 23%;
      border-radius: 5px;
      background-color: $numSquare-background;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.8vh;

      &--4 {
        background-color: darken($numSquare-background, 8%);
      }
      &--8 {
        background-color: darken($numSquare-background, 12%);
      }
      &--16 {
        background-color: darken($numSquare-background, 16%);
      }
      &--32 {
        background-color: darken($numSquare-background, 20%);
      }
      &--64 {
        background-color: darken($numSquare-background, 24%);
      }
      &--128 {
        background-color: darken($numSquare-background, 28%);
      }
      &--256 {
        background-color: darken($numSquare-background, 32%);
      }
      &--512 {
        background-color: darken($numSquare-background, 36%);
      }
      &--1024 {
        background-color: darken($numSquare-background, 40%);
      }
      &--2048 {
        background-color: darken($numSquare-background, 44%);
      }
      &--4096 {
        background-color: darken($numSquare-background, 48%);
      }
      &--8192 {
        background-color: darken($numSquare-background, 52%);
      }
    }
  }

  .lose-screen {
    height: 40vh;
    width: 40vh;
    display: none;

    &--active {
      display: flex;
    }

    img {
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  .scoreBoard {
    height: 10vh;
    width: 80%;
    background-color: $main-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .scoreBoard__scoreBox {
      width: 60%;
      height: min(50px, 7vh);
      background-color: $game-scorebox-background;
      font-size: min(5vh, 7vw);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      color: $main-font-color;
    }

    .scoreBoard__restart-button {
      width: 30%;
      padding: 10px;
      background-color: $game-nav-button;
      border-radius: 10px;
      font-size: min(2.8vh, 5vw);
      color: $button-font;

      &:hover {
        background-color: darken($game-nav-button, 10%);
      }
    }
  }
  .controller {
    height: 35vh;
    width: 70%;
    background-color: $direction-container-background;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .controller__controller-part {
      height: 33%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &--top {
        margin-bottom: -20px;
      }

      &--bottom {
        margin-top: -20px;
        // margin-bottom: 20px;
      }

      .controller__direction-button {
        height: calc(35vh / 3);
        width: calc(35vh / 3);
        background-color: $direction-button-color;
        border-radius: 50%;
        font-size: 3.5vh;
        color: $button-font;
        margin: 0px 7vw;

        &:hover {
          background-color: lighten($direction-button-color, 10%);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: $main-background;
    .party-music {
    }
  }

  .game {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;

    &--party {
      background-image: url("../../images/backgroundGameGif.gif");
      filter: sepia(50%);
    }

    .nav {
      background-color: $main-background;
      color: white;

      &--party {
        background-color: black;
      }

      .nav__button {
        &--party {
          display: flex;
        }
      }

      .nav__instructions {
        &--party {
          color: white;
        }
      }
    }

    .gameBoard {
      height: 80vh;
      width: 80vh;
      background-color: transparent;
      border: 0px;
    }
    .lose-screen {
      height: 80vh;
      width: 80vh;

      img {
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
      }
    }

    .scoreBoard {
      background-color: $main-background;
      width: 100%;

      &--party {
        background-color: black;
      }

      .scoreBoard__scoreBox {
        width: 50%;
      }

      .scoreBoard__restart-button {
        width: 30%;
      }
    }

    .controller {
      display: none;
    }
  }
}
